# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
projet/
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / cache
# =========================
build/
dist/
*.egg-info/

# =========================
# Pytest / mypy
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Data files (optionnel)
# =========================
*.csv
*.xlsx
*.parquet

# =========================
# Database files (optionnel)
# =========================
*.db
*.sqlite3